name: CI/CD Spring Boot

on:
  push:
    branches: [ "main" ]    # cambia a 'master' u otra rama si es necesario
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Compilar y ejecutar tests
        run: mvn -B clean verify

  docker-build-and-push:
    name: Build & Push Docker Image
    needs: build-and-test        # solo corre si el job anterior pasa
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Login en Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Construir y publicar imagen
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/retotecnico:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/retotecnico:${{ github.sha }}
